body {
	background: ;
	text-align: center;
	color: ;
	margin: 0;
	bottom: 0;
	padding: 0;
}

li a {
	display: block;
	float: left;
}

li a:hover {
	background-color: darkorange;
}

li a:link, a:active {
	color: white;
}

#p1, #p2, #p3, #p4, li a{
	color: black;
}

ul {
	list-style-type: none;
}

.hero-image {
	background-color: darkorange;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
	background-image: linear-gradient(crimson,darkorange);
	margin: 0 auto;
}

.hero-text {
	text-align: center;
	color: white;
}

#search, #meet {
	border-radius: 	12px;
}

#team {
	padding: 10px;
}

h1 {
	font-size: 350%;
}

.card {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 250px;
	margin: 0 auto;
	border-color: gold;
	border-width: 5px;
	border-radius: 5%;
	flex-direction: row;
}

.card img {
	width: 100%;
	height: auto;
	padding: 15px;
	border-radius: 50%;
}

.card-body {
	text-align: center;
}

footer {
	color: grey;
}
