body {
	background: ;
	text-align: center;
	color: ;
}

h1 {
	background-color: darkorange;
}

ul {
	list-style-type: none;
}

li a {
	display: block;
	float: left;
}

li a:hover {
	background-color: darkorange;
}

li a:link, a:active {
	color: white;
}

h1 {
	margin: 35px;
}

* {
  box-sizing: border-box;
}

.card {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 15%;
	height: 250px;
	margin: 10px;
	border-color: gold;
	border-width: 3px;
}

.card-body {
	text-align: center;
}

footer {
	color: grey;
}
