 body {
      font-family: Arial, sans-serif;
      background-color: #DA6C6C;
      padding: 40px;
      display: flex;
      justify-content: center;

}
    .container {
      background-color: white;
      border-radius: 12px;
      padding: 30px;
      width: 400px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }


    .container h2 {
      text-align: center;
      color: #2c3e50;
    }